{% extends "base.html" %}

{% block body %}

<table class="table table-striped">
  <thead>
    <th>Number</th>
    <th>Name</th>
  </thead>
  <tbody>
  	{% for album in results %}
    <tr>
      <td>{{album[1]}}</td>
      <td><a href="/track/{{album[0]}}">{{album[2]}}</a></td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end %}
