{% extends "base.html" %}

{% block body %}

{% for id, name, image in results %}
<div class="row">

<div class="col-sm-3">
    <a href="/{{prefix}}/{{id}}" class="thumbnail text-center">
      <img src="{{image}}">
      <div class="caption">
        <h4>{{name}}</h4>
      </div>
    </a>
</div>
{% end %}
</div>

{%end%}
