{% extends "base.html" %}

{% block body %}
<p>
Welcome to <b>SearchIt</b>, a simple music database powered by <a
    href="http://www.tornadoweb.org/">Tornado</a> and <a
    href="http://www.sqlite.org/">SQLite</a>.
</p>
<p>
	Brought to you by:
	<li>
	Daniel Hernandez,
	Sam Roden,
	and
	Nikki Steiner
	</li>
<img src = "https://www3.nd.edu/~pbui/teaching/cdt.30020.sp16/static/img/project01/rpi06.png" alt = "Our Logo">
{% end %}
